<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <style>
        html {
  scroll-behavior: smooth;
}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sök</h1>
    
    <div>
        <form method="post" th:action="@{/search}">
            
            <h3>Från datum</h3>
            <input type="date" name="fromDate">
            <h3>Till datum</h3>
            <input type="date" name="toDate">
            
            <button>Spara</button>
        </form>
    </div>
    

    <div th:each=" diary : ${diaryPosts}" >
        <h3>RUBRIK: <span th:text="${diary.title}"></span><br></h3>
        <pre><span th:text="${diary.post}"></span></pre>
        
            
            <span th:text="${diary.date}"></span>
            <a th:href="@{delete(id=${diary.id})}">[X]</a>
            <a th:href="@{update(id=${diary.id})}">[Ändra]</a>
           

    </div>

</body>
</html>