<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Ändra</h1>

    <div id="center">
      <a href="/">[HOME]</a>
      <form
        method="post"
        th:action="@{'/update/' + @{diary.id}}"
        th:object="${diary}"
      >
        <h3>Rubrik</h3>
        <input type="text" name="title" required /><br />
        <h3>Inlägg</h3>
        <textarea name="post" cols="30" rows="10" required></textarea>
        <h3>Datum</h3>
        <input type="date" name="date" required />

        <button>Spara</button>
      </form>
    </div>
  </body>
</html>
